#### The script below is to put together different news source, delete duplicates, and slice news between 2015 and 2019

In [2]:
import datetime as dt
import pandas as pd
import numpy as np
import os
import re

In [9]:
df_orig1 = pd.read_json('msft_tweets.json', encoding='utf-8')
a_df = df_orig1.copy()
a_msft_df = pd.DataFrame(a_df[['timestamp', 'text']])
a_msft_df

               timestamp                                               text
0    2012-09-05 16:28:20  Microsoft, Nokia unveil new Lumia as mobile ra...
1    2012-09-05 15:52:42  Nokia CEO Stephen Elop (@selop) LIVE on @CNBC ...
2    2012-09-04 13:35:52  U.S. Stocks Open Slightly Lower; DJIA -10, $MS...
3    2012-08-29 18:03:09  Microsoft appoints Stephen Schueler as corpora...
4    2012-08-29 15:01:53  The big winner in the Apple/Samsung patent fig...
...                  ...                                                ...
1701 2019-10-03 19:08:44  Did Microsoft change the hardware game? https:...
1702 2019-10-03 15:57:50  Microsoft's new dual-screen computer is the co...
1703 2019-10-03 03:15:02  Microsoft wants to rewrite the history of its ...
1704 2019-10-03 01:15:08  Microsoft disclosed plans to re-enter the smar...
1705 2019-10-02 23:26:49  Microsoft wants to hire even more chip designe...

[1706 rows x 2 columns]

In [11]:
df_orig2 = pd.read_json('msft_tweets_old.json', encoding='utf-8')
b_df = df_orig2.copy()
b_msft_df = pd.DataFrame(b_df[['timestamp', 'text']])
b_msft_df

              timestamp                                               text
0   2013-06-25 16:55:59  Microsoft’s cloud-computing service to offer O...
1   2013-06-24 19:47:34  Microsoft and Oracle announce partnership; cus...
2   2013-06-22 17:10:54  Google, Facebook, Microsoft ask U.S. for more ...
3   2013-06-20 19:11:11  Microsoft drops curbs on trading games, need f...
4   2013-06-20 15:43:49  Free to read:  Congested Web leads Google, Mic...
..                  ...                                                ...
638 2020-02-27 15:13:29  Charles Simonyi is a 71-year-old billionaire w...
639 2020-02-27 13:12:00  Microsoft wants to invest in Indonesia data ce...
640 2020-02-27 13:08:08  Microsoft billionaire Charles Simonyi still go...
641 2020-02-27 11:53:30  Marriott International, Gilead Sciences, Micro...
642 2020-02-27 09:05:32  Microsoft wants to invest in Indonesia data ce...

[643 rows x 2 columns]

In [10]:
df_orig3 = pd.read_json('msft_tweets_old2.json', encoding='utf-8')
c_df = df_orig3.copy()
c_msft_df = pd.DataFrame(c_df[['timestamp', 'text']])
c_msft_df

              timestamp                                               text
0   2011-03-31 14:39:35  Microsoft files EU competition complaint again...
1   2011-03-31 06:58:19  FLASH: Microsoft Corp says files complaint aga...
2   2011-03-30 18:23:18  Microsoft co-founder Paul Allen blasts Bill Ga...
3   2011-03-30 16:01:40  Top story on our site right now: Microsoft co-...
4   2011-03-30 13:31:39  Exclusive: #Microsoft Is Said to Plan Mobile P...
..                  ...                                                ...
958 2013-08-30 16:55:22  Microsoft, American Express vying to take equi...
959 2013-08-29 20:18:45  Microsoft said to be in talks to invest in Fou...
960 2013-08-29 19:34:04  BREAKING: Microsoft said to discuss strategic ...
961 2013-08-29 14:10:36  Gambling site picks Nokia CEO Stephen Elop as ...
962 2013-08-29 01:25:51  Nintendo cuts Wii U price ahead of Microsoft, ...

[963 rows x 2 columns]

In [145]:
# Merge twitter news
msft_tweeets = pd.concat([a_msft_df, b_msft_df, c_msft_df],ignore_index=True)

In [119]:
msft_tweeets

               timestamp                                               text
0    2012-09-05 16:28:20  Microsoft, Nokia unveil new Lumia as mobile ra...
1    2012-09-05 15:52:42  Nokia CEO Stephen Elop (@selop) LIVE on @CNBC ...
2    2012-09-04 13:35:52  U.S. Stocks Open Slightly Lower; DJIA -10, $MS...
3    2012-08-29 18:03:09  Microsoft appoints Stephen Schueler as corpora...
4    2012-08-29 15:01:53  The big winner in the Apple/Samsung patent fig...
...                  ...                                                ...
3307 2013-08-30 16:55:22  Microsoft, American Express vying to take equi...
3308 2013-08-29 20:18:45  Microsoft said to be in talks to invest in Fou...
3309 2013-08-29 19:34:04  BREAKING: Microsoft said to discuss strategic ...
3310 2013-08-29 14:10:36  Gambling site picks Nokia CEO Stephen Elop as ...
3311 2013-08-29 01:25:51  Nintendo cuts Wii U price ahead of Microsoft, ...

[3312 rows x 2 columns]

In [120]:
msft_tweeets['Date'] = msft_tweeets['timestamp'].dt.date

In [121]:
msft_tt = msft_tweeets.copy()

In [122]:
msft_tt.rename(columns={"text": "News"}, inplace = True)
msft_tt.drop(columns=['timestamp'], inplace=True)

In [123]:
msft_tt.sort_values(by=['Date'], inplace=True)

In [124]:
msft_tt.reset_index(drop=True)

                                                   News        Date
0     Microsoft suffers stunning EU antitrust defeat...  2007-09-17
1     Microsoft suffers decisive EU antitrust defeat...  2007-09-17
2     Microsoft suffers decisive EU antitrust defeat...  2007-09-17
3     Microsoft suffers decisive EU antitrust defeat...  2007-09-17
4     Microsoft suffers decisive EU antitrust defeat...  2007-09-17
...                                                 ...         ...
3307  Dealing with a herniated disk can be excruciat...  2020-10-02
3308  Dealing with a herniated disk can be excruciat...  2020-10-02
3309  Dealing with a herniated disk can be excruciat...  2020-10-02
3310  Dealing with a herniated disk can be excruciat...  2020-10-02
3311  Dealing with a herniated disk can be excruciat...  2020-10-02

[3312 rows x 2 columns]

In [137]:
news_a = pd.read_csv('msft_news.csv')
newsline_a = news_a.copy()
newsline_a['Date1'] = newsline_a['Date'].apply(lambda x: dt.datetime.strptime(x, '%B %d, %Y')).dt.date
msft_nla = pd.DataFrame(newsline_a[['Date1', 'News']])

In [138]:
msft_nla.rename(columns={"Date1": "Date"}, inplace = True)
msft_nla.sort_values(by=['Date'], inplace=True)
msft_nla.reset_index(drop=True)

           Date                                               News
0    2016-03-02  US STOCKS SNAPSHOT-Wall Street ends mixed as M...
1    2017-09-18  Microsoft's Hotmail and Outlook.com suffer all...
2    2017-09-18  Microsoft's Hotmail, Outlook.com services back...
3    2017-09-19  BRIEF-Microsoft announces quarterly dividend a...
4    2017-09-20  BRIEF-Dell EMC, General Dynamics and Microsoft...
..          ...                                                ...
527  2020-09-28  Microsoft gets into 5G race with Azure cloud f...
528  2020-09-29     Microsoft 365 outage affects multiple services
529  2020-09-29  Microsoft says disruption to Teams, Outlook re...
530  2020-09-30  Microsoft raises reward for outside law firms ...
531  2020-10-01  Amazon and Big Tech cozy up to Biden camp with...

[532 rows x 2 columns]

In [139]:
news_b = pd.read_csv('msft_news_twitter.csv')
newsline_b = news_b.copy()
newsline_b['Date'] = newsline_b['timestamp'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')).dt.date
msft_nlb = pd.DataFrame(newsline_b[['Date', 'text']])

In [140]:
msft_nlb.rename(columns={"text": "News"}, inplace = True)
msft_nlb.sort_values(by=['Date'], inplace=True)
msft_nlb.reset_index(drop=True)

           Date                                               News
0    2009-07-25  Microsoft, Amazon End Nasdaq Streak http://bit...
1    2009-07-28  Microsoft, Yahoo Near Search Deal http://bit.l...
2    2009-07-29  Microsoft, Yahoo Agree on Long-Sought Search D...
3    2009-07-29  Microsoft, Yahoo Reach Search Deal http://bit....
4    2009-08-09  Publicis to Acquire Microsoft's Razorfish http...
..          ...                                                ...
115  2020-01-09  Check out the Audio Book Elven Magic on Audibl...
116  2020-01-09  Check out Elven Magic on Steam for the steam s...
117  2020-01-09  Check out Audio Book Elven Magic on Audible, a...
118  2020-06-11  https://www.excel-easy.com/data-analysis/pivot...
119  2020-06-11  https://www.excel-easy.com/data-analysis/pivot...

[120 rows x 2 columns]

In [142]:
news_c = pd.read_csv('msft_news2.csv')
newsline_c = news_c.copy()
newsline_c['Date'] = newsline_c['timestamp'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d %H:%M')).dt.date
msft_nlc = pd.DataFrame(newsline_c[['Date', 'text']])

In [143]:
msft_nlc.rename(columns={"text": "News"}, inplace = True)
msft_nlc.sort_values(by=['Date'], inplace=True)
msft_nlc.reset_index(drop=True)

            Date                                               News
0     2011-10-20       Tech wrap: Basic phones lift Nokia to profit
1     2011-10-26  Tech wrap: RIM delays tablet update, Nokia unv...
2     2011-11-01  Tech wrap: Yahoo finds interclick, pays $270 m...
3     2011-11-02       Uncle Sam has a $1 trln repatriation concern
4     2011-11-21                      Tech wrap: Ebay acts on Hunch
...          ...                                                ...
3213  2017-11-29  Nokia says not preparing offer for Juniper Net...
3214  2017-11-29  Cloud storage firm Box's loss widens in third ...
3215  2017-11-30  Amazon steps up pace in artificial intelligenc...
3216  2017-11-30  Now hiring? Amazon says its voice aide Alexa i...
3217  2017-12-03  Southwest, Microsoft, Apple could benefit from...

[3218 rows x 2 columns]

In [146]:
# Merge reuter's news
msft_reuter = pd.concat([msft_nla, msft_nlb, msft_nlc],ignore_index=True)

In [169]:
msft_reuter.sort_values(by=['Date'], inplace=True)

In [170]:
msft_reuter

           Date                                               News
532  2009-07-25  Microsoft, Amazon End Nasdaq Streak http://bit...
533  2009-07-28  Microsoft, Yahoo Near Search Deal http://bit.l...
535  2009-07-29  Microsoft, Yahoo Reach Search Deal http://bit....
534  2009-07-29  Microsoft, Yahoo Agree on Long-Sought Search D...
536  2009-08-09  Publicis to Acquire Microsoft's Razorfish http...
..          ...                                                ...
527  2020-09-28  Microsoft gets into 5G race with Azure cloud f...
529  2020-09-29  Microsoft says disruption to Teams, Outlook re...
528  2020-09-29     Microsoft 365 outage affects multiple services
530  2020-09-30  Microsoft raises reward for outside law firms ...
531  2020-10-01  Amazon and Big Tech cozy up to Biden camp with...

[3870 rows x 2 columns]

In [150]:
msft_tt = msft_tt[['Date', 'News']]

In [167]:
# Merge all news, use date as index, and delete duplicates
msft_allnews = pd.concat([msft_reuter, msft_tt],ignore_index=True)
msft_allnews.set_index(['Date'], inplace=True)
msft_allnews.drop_duplicates(subset=['News'], keep=False, inplace=True)

In [171]:
msft_allnews.sort_values(by=['Date'], inplace=True)
msft_allnews

                                                         News
Date
2007-10-24  Microsoft beats Google to Facebook stake http:...
2007-10-24  Microsoft clinches Facebook deal http://tinyur...
2008-02-01  Yahoo says to consider Microsoft's $44.6 billi...
2008-02-01  Microsoft offers to buy Yahoo in $44.6 billion...
2008-02-02  Microsoft bids $44.6 billion to buy Yahoo http...
...                                                       ...
2020-10-01  Microsoft Outlook experiencing problems worldw...
2020-10-01  Amazon and Big Tech cozy up to Biden camp with...
2020-10-01  Microsoft undercuts MacBook Air with new $549 ...
2020-10-01  Microsoft just announced its new $549 laptop, ...
2020-10-01  Microsoft's cheaper, smaller, lighter Surface ...

[5422 rows x 1 columns]

In [253]:
# Extract master list of news headlines and save as csv
startdate = pd.to_datetime("2015-01-01").date()
enddate = pd.to_datetime("2019-12-31").date()

msft_masterNews = msft_allnews.loc[startdate:enddate]
msft_masterNews

                                                         News
Date
2015-01-02  Bad code update triggered Yahoo, Bing search c...
2015-01-06  Sony CEO praises employees, partners for stand...
2015-01-07  U.S. supplier in China food scare takes aim at...
2015-01-08  Owners of NBA's Hawks approve plan to sell the...
2015-01-13  U.S. senators seek bill to spur hiring of fore...
...                                                       ...
2019-12-12  Microsoft is pushing forward with JEDI recruit...
2019-12-26  IN BRIEF: Fed Circuit sides with Microsoft, HT...
2019-12-30  How Amazon, Apple, Facebook, Google, and Micro...
2019-12-30  Microsoft says North Korea-linked hackers stol...
2019-12-31  Microsoft says North Korea-linked hackers stol...

[2829 rows x 1 columns]

In [254]:
# Check if stock news data exit
if not os.path.exists('./msft_masternews.csv'):

# make directory and store stock news    
    #os.makedirs('stockdata')
    msft_masterNews.to_csv('./msft_masternews.csv')
else:
    pass

In [3]:
msft_nhl = pd.read_csv('msft_headlines05.csv')
msft_nhl

            Date                                               News
0     2015-01-02  Bad code update triggered Yahoo, Bing search c...
1     2015-01-06  Sony CEO praises employees, partners for stand...
2     2015-01-07  U.S. supplier in China food scare takes aim at...
3     2015-01-08  Owners of NBA's Hawks approve plan to sell the...
4     2015-01-13  U.S. senators seek bill to spur hiring of fore...
...          ...                                                ...
2627  2019-12-11  Cisco has started supplying switch chips to ma...
2628  2019-12-12  Microsoft is pushing forward with JEDI recruit...
2629  2019-12-26  Fed Circuit sides with Microsoft, HTC in Phili...
2630  2019-12-30  How Amazon, Apple, Facebook, Google, and Micro...
2631  2019-12-31  Microsoft says North Korea-linked hackers stol...

[2632 rows x 2 columns]

In [25]:
msft_nhl['News1'] = msft_nhl['News'].str.replace('...', '', regex=False)

In [26]:
msft_nhl.drop(['News'], axis=1, inplace=True)

In [27]:
msft_nhl.rename(columns={"News1": "News"}, inplace = True)

In [28]:
#msft_nhl.set_index(['Date'], inplace=True)
msft_nhl.drop_duplicates(subset=['News'], keep=False, inplace=True)

In [30]:
msft_nhl

                                                         News
Date
2015-01-02  Bad code update triggered Yahoo, Bing search c...
2015-01-06  Sony CEO praises employees, partners for stand...
2015-01-07  U.S. supplier in China food scare takes aim at...
2015-01-08  Owners of NBA's Hawks approve plan to sell the...
2015-01-13  U.S. senators seek bill to spur hiring of fore...
...                                                       ...
2019-12-11  Cisco has started supplying switch chips to ma...
2019-12-12  Microsoft is pushing forward with JEDI recruit...
2019-12-26  Fed Circuit sides with Microsoft, HTC in Phili...
2019-12-30  How Amazon, Apple, Facebook, Google, and Micro...
2019-12-31  Microsoft says North Korea-linked hackers stol...

[2632 rows x 1 columns]

In [31]:
# Check if stock news data exit
if not os.path.exists('./msft_headlines.csv'):

# make directory and store stock news    
    #os.makedirs('stockdata')
    msft_nhl.to_csv('./msft_headlines.csv')
else:
    pass